<md-card flex="90" style="padding:0;">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Minigame</h2>
    </div>
  </md-toolbar>

  <md-content layout-margin layout-gt-md="row" layout="column" layout-align="center center" id="quince1_div">
    <md-card style="padding: 10px;">
	<div id="quince-canvas"></div>
	<div id="quince-buttons"></div>
    </md-card>
    <md-card id="quince-instructions" style="width: 100%;">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h3>Instructions</h3>
        </div>
      </md-toolbar>
    </md-card>
    <md-card id="quince-code" style="width: 100%;">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h3>Code</h3>
        </div>
      </md-toolbar>
    </md-card>
    <!--<md-button class="md-raised md-primary" ng-click="Global.updateScore('credits',12)">Add 12 credits</md-button>-->
  </md-content>

</md-card>
